.signup__div {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.signup__form {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

.signup__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: bold;
}

.signup__logo {
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.signup__h1 {
    font-size: 25px;
}

.signup__h3 {
    border-top: 1px solid rgb(34, 34, 34);
    padding-top: 25px;
    width: 70%;
    text-align: center;
}

.signup__label {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.signup__input {
    height: 50px;
    width: 450px;
    padding-left: 10px;
    font-size: 15px;
    border: .5px solid rgb(130, 130, 130);
    border-radius: 5px;
}

.signup__input:focus {
    outline: black 1px solid;
}

.signup__submit {
    width: 140px;
    border: none;
    border-radius: 50px;
    height: 60px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    background-color: rgb(30,215,96);
}

.signup-error {
    color: red;
}
