.main-page__div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.main-page__top {
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: row;
}

.main-page__bottom {
    width: 100%;
    height: 9%;
}
