.nav-bar__profile-button {
    width: 50px;
    height: 50px;
    background-color: rgb(44, 44, 44);
    border-radius: 100%;
    border: none;
    position: relative;
}

.nav-bar__profile-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: contain;
}

.nav-bar__dropdown-menu {
    position: absolute;
    top: 85px;
    right: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100px;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    border-radius: 7px;
}

.nav-bar__dropdown-menu > li {
    padding: 5px;
}

.nav-bar__logout {
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
}

.nav-bar__no-user-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-bar__signup {
    background-color: transparent;
    color: rgb(144,144,144);
    font-weight: bold;
    font-size: 17px;
    border: none;
}

.nav-bar__login {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 17px;
    width: 120px;
    height: 50px;
    border-radius: 40px;
}

.nav-bar__logged-in-div {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.nav-bar__no-user-buttons {
    height: 50px;
}

.nav-bar__socials-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: white;
}
